:root {
    --color-main: #FFF3E2;
    --color-accent: #a29ac5;
    --color-darker: #302A3A;
    --color-background-left: #432E3A;
    --color-background-middle: #41415C;
    --color-background-right: #332D3D;
    --color-background-gradient: linear-gradient(90deg, var(--color-background-left) 0%, var(--color-background-middle) 50%, var(--color-background-right) 100%);

}

* {
    font-family: Helvetica, sans-serif;
    color: var(--color-main)
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#top {
    position: absolute;
    top: -100vh;
}

.wrapper {
    scroll-behavior: smooth;
    min-height: 100vh;
    overflow-x: hidden;
    perspective: 8px;
    transform-style: preserve-3d;
}

.credits {
    position: absolute;
    bottom: 1em;
    right: 2em;
    z-index: 3;
}

.credits a {
    text-decoration: none;
    color: #99a;
    font-size: 12px;
}

#main-nav {
    margin-left: 3em;
    position: absolute;
    top: 90vh;
    z-index: 1;
    width: 100%;
    display: flex;
    gap: 1em;
}

#main-nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    text-decoration: none;
}

#main-nav a span {
    color: var(--color-main);
}

#navref {
    position: absolute;
    top: 90vh;
}

#main-nav.sticky {
    position: fixed;
    top: 0;
}

#main-nav.sticky a {
    text-decoration: none;
}

main {
    position: absolute;
    max-width: 100vw;
    overflow-x: hidden;
}

section {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-left);
}


h1 {
    font-size: 2.5em;
    text-align: center;
    color: var(--color-darker);
}

h2 {
    margin: 1em 0;
    padding: 0 1em;
    font-size: 1.5em;
}

@media (min-width: 768px) {
    h1 {
        font-size: 3.5em;
    }

    h2 {
        font-size: 2.5em;
    }
}

section {
    background: var(--color-background-gradient);
}


#small-screen-nav {
    cursor: pointer;
    position: fixed;
    display: flex;
    place-items: center;
    justify-content: center;
    bottom: 0;
    z-index: 22;
    min-width: 64px;
}

#small-screen-nav a {
    background: linear-gradient(90deg,
    var(--color-background-left) 0%,
    #423445 97%,
    transparent 100%
    );

    padding-top: 1em;
    padding-bottom: 5em;
    position: absolute;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    width: 0;
    overflow: hidden;
    left: 0;
    /*same color as background color with mix-blend-mode: difference results in black*/
    color: var(--color-main);
    font-size: 10px;
    font-family: Calibri, sans-serif;
    text-decoration: none;
    text-align: center;
    transition: width 0.2s ease-in-out;
}

svg,
.svg {
    stroke: #FFF3E2;
    fill: #FFF3E2;
}

#main-nav {
    display: none;
    margin-left: 3em;
    position: absolute;
    top: 90vh;
    width: 100%;
    gap: 1em;
    z-index: 22;
}

#main-nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    text-decoration: none;
}

@media (min-width: 768px) {
    #main-nav {
        display: flex;
    }

    #small-screen-nav {
        visibility: hidden;
    }
}

.flex-spacer {
    flex: 2 1 auto;
}

.divider {
    height: 300px;
    overflow: hidden;
    width: 100vw;
    object-fit: cover;
}

.parallax-container {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.parallax-container img {
    position: absolute;
    height: 650px;
    top: 0;
}

.home-parallax-container {
    position: relative;
    top: 0;
    height: 100vh;
    width: 100vw;
    transform-style: inherit;
    z-index: 1;
}

.home-parallax {
    transform-style: inherit;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#first {
    background: url("assets/parallax/mountains-1412683_0008_background.png") no-repeat center;
    background-size: cover;
    transform: translateZ(-8px) scale(2);
}

#second {
    background: url("assets/parallax/mountains-1412683_0007_background_1.png") no-repeat center;
    background-size: cover;
    transform: translateZ(-7px) scale(1.875);
}

#third {
    background: url("assets/parallax/mountains-1412683_0006_background_2.png") no-repeat center;
    background-size: cover;
    transform: translateZ(-6px) scale(1.75);
}

#title span {
    color: var(--color-darker)
}

#title {
    position: absolute;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    place-items: center;
    font-weight: bolder;
    transform: translateZ(-6px) scale(1.75);
}

#fourth {
    background: url("assets/parallax/mountains-1412683_0005_background_3.png") no-repeat center;
    background-size: cover;
    transform: translateZ(-5px) scale(1.625);
}

#fifth {
    background: url("assets/parallax/mountains-1412683_0004_background_4.png") no-repeat center;
    background-size: cover;
    transform: translateZ(-4px) scale(1.5);
}

#sixth {
    background: url("assets/parallax/mountains-1412683_0003_foreground_2.png") no-repeat center;
    background-size: cover;
    transform: translateZ(-3px) scale(1.375);
}

#seventh {
    background: url("assets/parallax/mountains-1412683_0002_foreground_1.png") no-repeat center;
    background-size: cover;
    transform: translateZ(-2px) scale(1.25);
}

#eighth {
    background: url("assets/parallax/mountains-1412683_0000_foreground.png") no-repeat center;
    background-size: cover;
    transform: translateZ(-1px) scale(1.125);
}

#eighth::after {
    content: '';
    z-index: 10;
    transform:  scaleY(1.4);
    background: var(--color-background-gradient);
    filter:blur(20px);
    opacity: 1;
    transition: opacity 0.3s;
    position: absolute;
    top: 90%;
    right: -5em;
    left: -5em;
    bottom: 0;
}

@media (min-width: 768px) {
    .parallax-container img {
        height: 900px;
    }
}
